<div class="container py-5 h-100">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col col-xl-10">
      <div class="card">
        <div class="row g-0">
          <table class="table">
            <thead class="text-white" style="background-color: #b72322">
            <th>Nome da Categoria</th>
            <th>Descrição da Categoria</th>
            </thead>
            <tbody>
            <tr *ngFor="let categoria of listaCategoria">
              <td>{{categoria.cdCategoria}}</td>
              <td>{{categoria.deCategoria}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
