<div class="container py-5 h-100">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col col-xl-10">
      <div class="card" >
        <div class="row g-0">
<!--          style="border-radius: 1rem;"-->
<!--          style="border-bottom-radius: 1rem;"-->
<!--          style="border-top-left-radius: 1rem"-->
<!--          style="border-top-right-radius: 1rem;"-->
          <table class="table">
            <thead class="text-white" style="background-color: #b72322">
<!--            <th><button (click)="addCategoria()" class="btn" style="background-color: #198754 !important;"><i class="oi oi-plus text-white"></i></button></th>-->
            <th>Nome da Categoria</th>
            <th >Descrição da Categoria</th>
            </thead>
            <tbody>
            <tr *ngFor="let categoria of listaCategoria">
<!--              <td></td>-->
              <td>{{categoria.cdCategoria}}</td>
              <td>{{categoria.deCategoria}}</td>
            </tr>
            </tbody>
          </table>
        </div>

      </div>
      <form *ngIf="incluindo" class="form-inline border">
        <div class="form-group col-md-6">
          <small style="  display: flex;
  place-items: flex-end;
  place-content: space-between;">Código</small>
          <input type="text" name="cdCategoria"  class="form-control form-control-sm col-md-6" [(ngModel)]="categoriaIncluir.cdCategoria">
        </div>

        <div class="form-group col-md-6">
          <small style="  display: flex;
  place-items: flex-end;
  place-content: space-between;">Descrição</small>
          <input type="text"  name="deCategoria"  class="form-control form-control-sm col-md-6" [(ngModel)]="categoriaIncluir.deCategoria">
        </div>
        <button (click)="salvarNovaCategoria()" class="btn btn-success col-md-2 mt-1"><i class="oi oi-plus"></i> Salvar</button>
        <button (click)="cancelarInclusao()" class="btn btn-danger col-md-2 mt-1"><i class="oi oi-x"></i> Cancelar</button>
      </form>
      <button *ngIf="!incluindo" (click)="addCategoria()" class="btn btn-success col-md-2 mt-1"><i class="oi oi-plus"></i> Incluir</button>

    </div>
  </div>
</div>
